<div class="about_main_container">
    <div class="left">
        <h2><span class="typed"></span></h2>
        <p>         
            Apasionado por el desarrollo web, programación y tecnología en general, una persona atenta a cada detalle sobre diseño y desarrollo de las paginas y aplicaciones web.
        </p>
        <p>
            Me considero una persona que le gusta aprender cosas nuevas y siempre estoy adaptándome a los cambios y nuevas tecnologías.
        </p>
        <p>
            Estoy interesado en trabajar en proyectos que supongan un reto y aprendizaje para mi y también con personas con la que pueda aprender y desarrollar mis habilidades como profesional.
        </p>
    </div>
    <div class="right">
        <img src="assets/img/who2.svg" alt="" class="who">
    </div>
</div>