<div class="about_main_container">
    <div class="left">
        <h2><span class="typed"></span></h2>
        <p>         
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nisi beatae voluptatem maxime aspernatur id quidem laborum, 
            reiciendis voluptate commodi provident fugiat vel, dolorem impedit eligendi perferendis. Optio, harum obcaecati.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum sapiente incidunt deleniti quo tempore esse debitis quos 
            tenetur ex nulla architecto fugit a minus mollitia sunt, quidem aliquid voluptatem quas distinctio hic. Dignissimos illum ipsum 
            repudiandae quibusdam. Similique perspiciatis, impedit quaerat, dolores accusamus totam architecto vel doloremque illo libero.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, quo!
        </p>
    </div>
    <div class="right">
        <img src="assets/img/img9.svg" alt="" class="img_home">
    </div>
</div>