.tittle_skills{
    font-size: 4em;
    color: aqua;
    margin: 50px 0px 50px 80px;
    height: 1em;
}
.container_card_work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 50px 50px 50px 80px;
    text-align: center;
}
.proyect{
    background: rgb(38, 39, 39);
    box-shadow: 1px 3px 10px #000;
    text-align: center;
    padding: 60px 40px;
    border-radius: 5px;
    border-bottom: 4px solid aqua;
    cursor: pointer;
    transition: all ease .2s;
}
.proyect:hover{
    transform: translateY(-10px) scale(1.05);
    background: #222;
}
.container_card_work img{
    width: 100%;
    margin-bottom: 15px;
}
.info__name{
    font-size: 1.8em;
    letter-spacing: -1px;
    margin-bottom: 5px;
    color: #dfdfdf;
}
/* .info_desc{
    width: 80%;
} */
.info_link_code{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 10px 0px 0px;
    font-size: 1.2em;
    color: #fff;
    border-radius: 3px;
    background: #333;
    text-decoration: none;
    box-shadow: 1px 1px 3px #000;
    transition: all .2s ease;
}
.info_link_code:hover{
    background: rgb(3, 218, 233);
    color: #000;
}
.info_link_code span{
    margin-right: 5px;
}







@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 1375px){
	/*Big smartphones [426px -> 600px]*/
    .container_card_work{
        grid-template-columns: 1fr 1fr;
        margin-left: 40px;
    }
}
@media only screen and (max-width: 780px){
	/*Small smartphones [325px -> 425px]*/
    .tittle_skills{
        font-size: 3.8em;
        line-height: 1;
        margin-left: 40px;
    }
    .container_card_work{
        grid-template-columns: 1fr;
        margin-left: 40px;
    }

}