<h2 class="tittle_skills"><span class="typed"></span></h2>


<div class="container_card_work">
    <div class="proyect">
        <img src="assets/img/asonaema-mockup.png" alt="">
        <div class="info">
            <h3 class="info__name">ASONAEMA website</h3>
            <a target="_blank" href="https://github.com/StevenBaezFernandez/asonaema" class="info_link_code">
                <span>Code</span>
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://asonaema.000webhostapp.com/" class="info_link_code">
                <span>Demo</span>
                <i class="far fa-eye"></i>
            </a>
        </div>
    </div>
    <div class="proyect">
        <img src="assets/img/bluerose-mockup.png" alt="">
        <div class="info">
            <h3 class="info__name">BLUEROSE information portfolio</h3>
            <a target="_blank" href="https://github.com/StevenBaezFernandez/bluerose" class="info_link_code">
                <span>Code</span>
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://stevenbaezfernandez.github.io/bluerose" class="info_link_code">
                <span>Demo</span>
                <i class="far fa-eye"></i>
            </a>
        </div>
    </div>
    <div class="proyect">
        <img src="assets/img/login-mockup.png" alt="">
        <div class="info">
            <h3 class="info__name">Login AJAX PHP & MYSQL</h3>
            <a target="_blank" href="https://github.com/StevenBaezFernandez/login-ajax-php" class="info_link_code">
                <span>Code</span>
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://steven0001.000webhostapp.com/" class="info_link_code">
                <span>Demo</span>
                <i class="far fa-eye"></i>
            </a>
        </div>
    </div>
    <div class="proyect">
        <img src="assets/img/landing1-mockup.png" alt="">
        <div class="info">
            <h3 class="info__name">Landing page clone VIVA</h3>
            <a target="_blank" href="https://github.com/StevenBaezFernandez/misitio2" class="info_link_code">
                <span>Code</span>
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://stevenbaezfernandez.github.io/misitio2/" class="info_link_code">
                <span>Demo</span>
                <i class="far fa-eye"></i>
            </a>
        </div>
    </div>
    <div class="proyect">
        <img src="assets/img/landing2-mockup.png" alt="">
        <div class="info">
            <h3 class="info__name">Landing page clone UNION EUROPEA CLINIC</h3>
            <a target="_blank" href="https://github.com/StevenBaezFernandez/Paginadanny" class="info_link_code">
                <span>Code</span>
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://stevenbaezfernandez.github.io/Paginadanny/" class="info_link_code">
                <span>Demo</span>
                <i class="far fa-eye"></i>
            </a>
        </div>
    </div>

</div>
