<h2 class="tittle_contact"><span class="typed"></span></h2>

<div class="container_contact">
    <div class="contact">
        <i class="fab fa-linkedin"></i>
        <span><a target="_blank" href="https://www.linkedin.com/in/steven-baez-8a4a26180">https://www.linkedin.com/in/steven-baez-8a4a26180</a></span>
    </div>
    <div class="contact">
        <i class="fab fa-github-square"></i>
        <span><a target="_blank" href="https://github.com/StevenBaezFernandez">https://github.com/StevenBaezFernandez</a></span>
    </div>
    <div class="contact">
        <i class="far fa-envelope"></i>
        <span><a target="_blank" href="mailto:stevenbaezfernandez@gmail.com">stevenbaezfernandez@gmail.com</a></span>
    </div>
    <div class="contact">
        <i class="fas fa-phone-square-alt"></i>
        <span><a target="_blank" href="tel:+1-829-731-1640">829-731-1640</a></span>
    </div>
</div>
