<h2 class="tittle_skills"><span class="typed"></span></h2>

<div class="container-cards-skills">
    <div class="card">
        <img src="assets/img/html-icon.png" alt="">
    </div>
    <div class="card">
        <img src="assets/img/css-icon.png" alt="">
    </div>
    <div class="card">
        <img src="assets/img/js-icon.png" alt="">
    </div>
    <div class="card">
        <img src="assets/img/angular-icon.png" alt="">
    </div>
    <div class="card">
        <img src="assets/img/git-icon.png" alt="">
    </div>
    <div class="card">
        <img src="assets/img/php-icon.png" alt="">
    </div>
    <div class="card">
        <img src="assets/img/mysql-icon.png" alt="">
    </div>
</div>