<h2 class="tittle_skills"><span class="typed"></span></h2>


<div class="container_skills">
    <h3>HTML5</h3>
    <span class="bar">
        <span class="html"></span>
    </span>
    <h3>CSS3</h3>
    <span class="bar">
        <span class="css"></span>
    </span>
    <h3>JAVASCRIPT</h3>
    <span class="bar">
        <span class="javascript"></span>
    </span>
    <h3>ANGULAR</h3>
    <span class="bar">
        <span class="angular"></span>
    </span>
    <h3>SASS</h3>
    <span class="bar">
        <span class="sass"></span>
    </span>
    <h3>GIT AND GITHUB</h3>
    <span class="bar">
        <span class="git_github"></span>
    </span>
    <h3>PHP AND MYSQL</h3>
    <span class="bar">
        <span class="php_mysql"></span>
    </span>

</div>