<div class="wraper">

    <div class="container_nav">
        <app-nav></app-nav>
    </div>

    
    <div class="container_router">
        <particles  id= "particles"  [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
        <ngx-spinner
            bdColor="rgba(21,21,21,.95)"
            size="large"
            color="#fff"
            type="ball-scale-multiple"
            >
            <p style="font-size: 20px; color: white">Please wait..</p>
        </ngx-spinner>
        <router-outlet></router-outlet>
    </div>
    
</div>