.wraper{
    display: flex;
    
}
.container_router{
    /* margin-left: 70px; */
    background: #1d1d1d;
    position: fixed;
    top: 0px;
    left: 70px;
    right: 0px;
    bottom: 0px;
    color: #ffffff;
    overflow: auto;
}
.btn-mobile-menu{
    width: 35px;
    position: absolute;
    top: 30px;
    right: 20px;
    /* display: none; */
}
.container_router::-webkit-scrollbar{
    width: 6px;
    background-color: none;
}
::-webkit-scrollbar-track{
    background: none;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 5px;
    /* background-color: #08723b; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent) */
}
.wrap_menu_mobile{
    background: #222;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: none;
    opacity: 0;
    transition: all .3s ease;
}
.wrap_menu_mobile.active{
    display: block;
    opacity: 1;
}
.wrap_menu_mobile__header{
    height: 35%;
    background: #454545;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap_menu_mobile__header img{
    width: 255px;
}
.btn_close_mobile_menu{
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.wrap_menu_mobile__body a{
    display: block;
    padding: 30px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #cfcfcf;
    text-decoration: none;
    border-bottom: 1px solid #555;
}
.wrap_menu_mobile__body a:hover{
    color: aqua;
}









@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (min-width: 1024px){
	/*Big smartphones [426px -> 600px]*/
    .wrap_menu_mobile.active{
        display: none;
        opacity: 1;
    }
    .btn-mobile-menu{        
        display: none;        
    }
}
@media only screen and (max-width: 900px){
	/*Small smartphones [325px -> 425px]*/
    .container_nav{
        display: none;
    }
    .container_router{
        left: 0;
    }
    .btn-mobile-menu{
        display: block;
        cursor: pointer;
    }
}

