<div class="wraper">

    <div class="container_nav">
        <app-nav></app-nav>
    </div>

    
    <div class="wrap_menu_mobile" [ngClass]="{'active': menu}">
        <img src="assets/img/cancel.svg" (click)="toggle_menu()" class="btn_close_mobile_menu" alt="">
        <div class="wrap_menu_mobile__header">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="wrap_menu_mobile__body">
            <a routerLink="/" (click)="toggle_menu()">Home</a>
            <a routerLink="/about" (click)="toggle_menu()">About</a>
            <a routerLink="/skills" (click)="toggle_menu()">My Skills</a>
            <a routerLink="/my-work" (click)="toggle_menu()">My Work</a>
            <a routerLink="/contact" (click)="toggle_menu()">Contact</a>
        </div>
    </div>

    
    <div class="container_router">
        <particles  id= "particles"  [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
        <ngx-spinner
            bdColor="rgba(21,21,21,.95)"
            size="large"
            color="#fff"
            type="ball-scale-multiple"
            >
            <p style="font-size: 20px; color: white">Please wait..</p>
        </ngx-spinner>
        <router-outlet></router-outlet>
    </div>
    
</div>
<img src="assets/img/btn-mobile-menu.svg" alt="" class="btn-mobile-menu" (click)="toggle_menu()">