.wraper{
    display: flex;
    
}
.container_router{
    /* margin-left: 70px; */
    background: #1d1d1d;
    position: fixed;
    top: 0px;
    left: 70px;
    right: 0px;
    bottom: 0px;
    color: #ffffff;
    overflow: auto;


}
.container_router::-webkit-scrollbar{
    width: 6px;
    background-color: none;
}
::-webkit-scrollbar-track{
    background: none;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 5px;
    /* background-color: #08723b; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent) */
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .container_nav{
        display: none;
    }
    .container_router{
        left: 0;
    }
}

